<footer>
    <div class="container">
      <div class="row">
        <!-- <div class="col-md-2">
          <img src="assets/logo.png" width="142">
        </div> -->
        <div class="col-md-4">
          <h4>Sobre</h4>
          <ul class="navbar-nav">
            <li><a href="">Sobre</a></li>
            <li><a href="">Empregos</a></li>
            <li><a href="">Imprensa</a></li>
            <li><a href="">Novidades</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>Contato</h4>
          <ul class="navbar-nav">
            <li><a href="">Fale conosco</a></li>
            <li><a href="">Desenvolvedores</a></li>
            <li><a href="">chat</a></li>
          </ul>
        </div>
        <!-- <div class="col-md-2">
          <h4></h4>
          <ul class="navbar-nav">
            <li><a href="">Ajuda</a></li>
            <li><a href="">Presentes</a></li>
            <li><a href="">Player da web</a></li>
          </ul>
        </div> -->
        <div class="col-md-4">
          <ul>
            <li>
              <a href=""><img src="assets/rede-sociais/facebook.png"></a>
            </li>
            <li>
              <a href=""><img src="assets/rede-sociais/twitter.png"></a>
            </li>
            <li>
              <a href=""><img src="assets/rede-sociais/instagram.png"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>