<nav class="navbar navbar-expand-md navbar-light navbar-transparente">
  <div class="container">
    
    <a href="index.html" class="navbar-brand">
      <img src="assets/logo.png" width="142">
    </a>

  </div>
</nav>
<div class="container">
    <h1>Atenção</h1>
<p>Esta área é para pequenas empresas de eletrônicos, se cadastrarem de forma que possam anunciar seus produtos.
Os cadastros serão liberados na hora e nossa equipe poderá fazer uma análise no seu cadastro, havendo alguma irregularidade entraremos em contato.</p>

<div class="alert alert-info">
  <strong>Atenção: </strong> campos com <span class="text-danger">*</span> são obrigatórios.
</div>

<form [formGroup]="formCadastro" *ngIf="formCadastro">
  <div class="form-row">
    <div class="col-md-2 mb-3">
      <label for="cep">Cep <span class="text-danger">*</span></label>
      <input  type="text" class="form-control" [textMask]="{mask: maskCep}"id="cep" formControlName="cep" [(ngModel)]="cepX" (focusout)="BuscarEndereco(cepX)">
      <small id="cep" class="form-text text-muted"></small>
    </div>  
    <div class="col-md-6 mb-3">
      <label for="endereco">Endereço <span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="endereco"  placeholder="  Ex Estrada do rio" formControlName="endereco">
      <small id="endereco" class="form-text text-muted">Coloque endereço correntamente, pois vamos compartilhar</small>
    </div>
    <div class="col-md-1 mb-3">
      <label for="numero">Número <span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="numero"  formControlName="numero">
    </div>
    
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="endComplemento">Complemento</label>
      <input type="text" class="form-control" id="endComplemento"  placeholder=" Ex loja 7c" formControlName="complemento">
      <small id="endComplemento" class="form-text text-muted"></small>
    </div>
    <div class="col-md-3 mb-3">
      <label for="bairro">Bairro <span class="text-danger">*</span></label>
      <input type="text" class="form-control" placeholder="" formControlName="bairro">
      <small id="bairro" class="form-text text-muted"></small>
    </div>
    <div class="col-md-2 mb-3">
      <label for="exampleInputEmail1">Cidade <span class="text-danger">*</span></label>
      <input type="text" class="form-control" formControlName="cidade"  placeholder="">
      <small class="form-text text-muted"></small>
    </div>
    <div class="col-md-1 mb-3">
      <label for="exampleFormControlSelect1">Estado <span class="text-danger">*</span></label>
      <input type="text" class="form-control" formControlName="estado"  placeholder="">
    </div>
  </div>
  <div class="form-group">
    <label for="nomeEmpresa">Nome da Empresa Razão Social  <span class="text-danger">*</span></label>
    <input type="text" class="form-control" id="nomeEmpresa" required="required" formControlName="name" placeholder="">
    <small id="nomeEmpresa" class="form-text text-muted">Nunca invente ou seu cadastro será cancelado</small>
  </div>
  <div class="form-row">
    <div class="col-md-3 mb-3">
      <label for="nomeFantasia">Nome Fantasia <span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="nomeFantasia" required="required" formControlName="nameFantasia" placeholder="">
      <small id="nomeFantasia" class="form-text text-muted"></small>
    </div>
    <div class="col-md-3 mb-3">
      <label for="cnpj">Cnpj <span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="cnpj" [(ngModel)]="cnpj" [textMask]="{mask: maskCnpj}" formControlName="cnpj">
      <small id="cnpj" class="form-text text-muted">Preencha correntamente, digite somente números</small>
    </div>
    <div class="col-md-3">
      <label >Telefone <span class="text-danger">*</span></label>
      <input class="form-control" type="text" [textMask]="{mask: maskTelefone}" [(ngModel)]="tel" formControlName="telefone">
    </div> 
  </div>
    <div class="form-row">
       
    </div>
    <div class="form-row">
      <div class="col-md-5 mb-3">
        <label for="exampleInputEmail1">Endereço de email <span class="text-danger">*</span></label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu email" formControlName="email">
        <small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small>
      </div>
      <div class="col-md-2 mb-3">
        <label for="exampleInputPassword1">Senha <span class="text-danger">*</span></label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha" formControlName="password">
      </div>
    </div>
  
    <button type="submit" class="btn btn-primary" (click)="cadastrar()">Cadastrar</button>
    <button routerLink="" class="btn btn-dark">Sair</button>
  </form>

  <!-- Modal -->

<!-- Large modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button> -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>

</div>