<div class="header">
    <div class="buscar">
      <h1>Apontamos sempre os melhores preços!</h1>
        <div class="input-group md-form form-sm form-2 pl-0">
            <input class="form-control my-0 py-1 lime-border" type="text" placeholder="Pesquisa rápida" aria-label="Search">
            <div class="input-group-append">
              <span class="input-group-text lime lighten-2" id="basic-text1"><i class="fas fa-search text-grey"
                  aria-hidden="true"></i></span>
            </div>
          </div>
    </div>
    <div class="container menu">
      <div class="row pt-4">
        <div class="col-md">
          <ul class="navbar-nav">
            <li><a routerLink="computadores"><i class="fas fa-laptop"></i>Computadores</a></li>
          </ul>
        </div>
        <div class="col-md">
          <ul class="navbar-nav">
            <li><a routerLink="celulares"><i class="fas fa-mobile"></i>Celulares</a></li>
          </ul>
        </div>
        <div class="col-md">
          <ul class="navbar-nav">
            <li><a routerLink="games"><i class="fas fa-gamepad"></i>Games</a></li>
          </ul>
        </div>
        <div class="col-md">
          <ul class="navbar-nav">
            <li><a routerLink="cameras"><i class="fas fa-camera"></i>Câmeras</a></li>
          </ul>
        </div>
        <div class="col-md">
          <ul class="navbar-nav">
            <li><a routerLink="som"><i class="fas fa-podcast"></i>Som</a></li>
          </ul>
        </div>
      </div>
    </div>
  
  </div>