
<div class="container">

  <div class="row align-items-center justify-content-center mt-3"> 
    <div class="card text-white bg-secondary mb-3 mr-3" style="max-width: 18rem;">
      <div class="card-header">Total</div>
      <div class="card-body">
        <h5 class="card-title">{{usuarios?.length}}</h5>
      </div>
    </div>

    <div class="card text-white bg-success mb-3 mr-3" style="max-width: 18rem;">
      <div class="card-header">Ativos</div>
      <div class="card-body">
        <h5 class="card-title">{{usuariosAtivos?.length}}</h5>
      </div>
    </div>
    <div class="card text-white bg-danger mb-3 mr-3" style="max-width: 18rem;">
      <div class="card-header">Inativos</div>
      <div class="card-body">
        <h5 class="card-title">{{usuariosInativos?.length}}</h5>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <input type="text" placeholder="Filtrar pelo nome ou cnpj..." class="form-control mb-3" [(ngModel)]="filtroEmpresa">
    </div>
  </div>
 
    <table class="table table-striped responsive-table">
        <thead>
          <tr>
            <th scope="col">Nome da Empresa</th>
            <th scope="col">Cnpj</th>
            <th scope="col">Tipo de conta</th>
            <th scope="col">Ferramentas</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor=" let usuario of usuarios | filter: [{campo: 'nameFantasia', valor: filtroEmpresa}, {campo: 'cnpj', valor: filtroEmpresa}]">
            <td>{{usuario?.nameFantasia}}</td>
            <td>{{usuario?.cnpj}}</td>
            <td>{{usuario?.plano}}</td>
            <td> 
                <div class="btn-ferramentas">
                <button type="button" data-toggle="modal" data-target="#editarCliente" (click)="editar(usuario)"><i class="fas fa-edit"></i> </button>
                <button type="button" data-toggle="modal" data-target="#excluirCliente" (click)="deletarCliente(usuario._id, usuario.nameFantasia)"><i class="fas fa-trash-alt"></i></button>
                <button type="button"  (click)="statusCliente(usuario)"><i class="fas fa-retweet"></i></button>  
                </div>
            </td>
         <td> <div style="width: 60px; text-align: center; border-radius: 5px; color: #fff;" [ngStyle]="{ background: usuario?.active ? '#5cb85c' : '#d9534f' }">{{usuario?.active ? 'Ativo' : 'Inativo'}}</div> </td>
          </tr>
        </tbody>
      </table>

      <!-- modal excluir cliente -->
<div class="modal fade" id="excluirCliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Tem certeza que deseja excluir o parceiro {{ nomeCliente }}?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <!-- <span aria-hidden="true">&times;</span> -->
        </button>
      </div>
      <!-- <div class="modal-body">
         <span></span>
      </div> -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="confirmar()" data-dismiss="modal">Sim</button>
      </div>
    </div>
  </div>
</div>
<!-- modal editar produto -->

<div class="modal fade bd-example-modal-lg" id="editarCliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered bmodal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Editar Cliente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="formCliente" *ngIf="formCliente">
      <div class="modal-body">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Alterar Plano</label>
          <select class="form-control" formControlName="plano">
            <option value="free">free</option>
            <option value="start">start</option>
            <option value="plus">plus</option>
            <option value="super">super</option>
            <option value="max">max</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="editarCliente()" data-dismiss="modal">Editar</button>
      </div>
    </form>
    </div>
  </div>
</div>
</div>
