<nav class="navbar navbar-expand-md navbar-light navbar-transparente">
  <div class="container">
    
    <a  href="index.html" class="navbar-brand">
      <img src="assets/logo.png" width="142">
    </a>

  </div>
</nav>
<div class="container">
    <h1> Acesso Sistema </h1>
    <p>Para acessar o sistema é necessário estar cadastrado como nossos parceiros, 
         usuários de buscas não precisam de login de acesso!
    </p>
    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Endereço de email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu email">
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Senha</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
        </div>
        <a routerLink="../cadastro" class="nav-link">Sou empresa e desejo me cadastrar</a>
        <button type="button" class="btn btn-primary" (click)="login()">Entrar</button>
        <button class="btn-senha" type="button" data-toggle="modal" data-target="#exampleModalCenter" >Esqueceu a senha?</button>
      </form>
    
      <!-- Modal -->

      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Informe seu e-mail para recuperar sua senha.</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu email">
                    <small id="emailHelp" class="form-text text-muted"></small>
                  </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary">Enviar</button>
            </div>
          </div>
        </div>
      </div>
</div>
