<nav class="navbar navbar-expand-md navbar-light navbar-transparente">
    <div class="container">
      
      <a  href="index.html" class="navbar-brand">
        <img src="assets/logo.png" width="142">
      </a>
  
    </div>
  </nav>

<div class="container">


<p class="apontaInfo">
    ApontaInfo uma plataforma de anúncios para produtos eletrônicos, onde a mesma não faz nenhum tipo de venda,
    apenas cede o espaço para pequenas empresas legalizadas anunciarem, onde nossos usuários de busca, poderam ter acesso
    endereços, telefone e negociar de forma direta com a loja parceira.
</p>

<h3>Para empresas parceiras</h3>

<div class="card">
  <h3>Criar uma conta <i class="fas fa-user-plus"></i> </h3>
  <span>Você é uma empresa de informática ou similar e trabalhar com produtos eletrônicos, possui CNPJ deseja
     anunciar seus produtos de forma gratuita na APontaInfo, <a routerLink="../cadastro"> crie uma conta</a> </span>
</div>

<div class="card">
    <h3>Aguarde confirmação  <i class="fas fa-check"></i></h3>
    <span>Os cadastros serão liberados após validação da administração do ApontaInfo em até 48 horas.</span>
</div>
 
<div class="card">
    <h3>Comece anunciar <i class="fas fa-bullhorn"></i></h3>
    <span>Após confirmação do seu cadastro, poderá anunciar de forma grátis até 5 produtos e caso tenha interesse em 
        aumentar sua quantidade, no seu painel de acesso ao sistema está disponivel maiores informações.
    </span>
</div>


<h3>Para usuários de busca de produtos</h3>

<p>
    Nossa plataforma é para usuários que buscam produtos eletrônicos, com preços diferenciados
    ou produtos próximos da sua localização desejada, sem precisar de cadastros, de forma rápida e segura. Podendo negociar diretamente com a loja e saber
    mais detalhes do produto, os preços podem variar então muito importante verificarem o preço no dia da compra.
</p>
  <div class="inicial">
    <a href="">Tela Inicial</a>
  </div>
 
</div>