/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.snackbar{
    background-color: #5cb85c;
    color:#fff;
  }

  .snackbarRed{
    background-color: hsl(0, 99%, 45%);
    color:#fff;
  }