/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.snackbar {
  background-color: #5cb85c;
  color: #fff;
}

.snackbarRed {
  background-color: hsl(0, 99%, 45%);
  color: #fff;
}

.card-title {
  text-align: center;
  font-size: 20px !important;
  margin-top: 10px !important;
}
.card-text {
  text-align: center;
  font-size: 20px;
  color: #0275d8;
}
.preco {
  text-align: center;
  font-size: 18px;
  color: #5cb85c;
}
.card-loja {
  text-align: center;
  color: #0080ff;
  font-size: 17px;
}
.card {
  .btn {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
.img-produto {
  width: 100%;
}
.seuProduto{
  text-align: center;
  font-size: 14px;
  
}
@media (max-width: 800px) {
  .card {
    .card-title {
      font-size: 19px !important;
    }
  .card-text{
    font-size: 17px !important;
  }
  }
}
.spinner {
  // display: flex;
  // justify-content: center;
  width: 30px;
  height: 30px;
  margin: 15px auto;
}