<nav class="navbar navbar-expand-md navbar-light navbar-transparente">
    <div class="container">
      
      <a class="navbar-brand">
        <img src="assets/logo.png" width="142">
      </a>
  
      <div style="display: flex; flex-direction: column;">
        <ul class="navbar-nav">
          <li>
           <span>Bem vindo, <strong>{{dadosUsuario.nameFantasia}}</strong></span>
          </li>
        </ul>
        <ul class="navbar-nav">
         <li>
         <button class="btn btn-dark" (click)="logout()">Sair</button>
        </li>
        </ul>
      </div>
  
    </div>
  </nav>
<div class="container">
    <div>
        <div class="header">
            <h4>Meus Anúncios</h4>
        </div>
        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#novoProduto">Novo Produto</button>

        <table class="table table-striped responsive-table">
            <thead>
              <tr>
                <th scope="col">Nome do Produto</th>
                <th scope="col">Descrição</th>
                <th scope="col">Preço</th>
                <th scope="col">Ferramentas</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor=" let produto of produtos">
                <td>{{produto.title}}</td>
                <td>{{produto.description}}</td>
                <td>{{produto.price | currency: 'BRL'}}</td>
                <td> 
                    <div class="btn-ferramentas">
                    <button type="button" data-toggle="modal" data-target="#editarProduto" (click)="editarProduto(produto)"><i class="fas fa-edit"></i> </button>
                    <button type="button" data-toggle="modal" data-target="#excluirProduto" (click)="deletarProduto(produto._id, produto.title)"><i class="fas fa-trash-alt"></i></button> 
                    </div>
                    
                </td>
              </tr>
            </tbody>
          </table>
          <div class="noProdutos" *ngIf="produtos.length === 0">Você ainda não possui produtos cadastrados </div>
          <div class="limitProdutos" *ngIf="produtos.length == 5 ">Você excedeu limite de produtos permitidos!</div>
          
    </div>
<!-- Dados da empresa -->
<section>
<div class="card empresa">
  <div class="header">
  <h4>Informações Empresa</h4>
  </div>
  <div>
 <label for="">Nome da Empresa:</label>
   <span> {{dadosUsuario.name }}</span>
 </div>
 <div>
  <label for="">Cnpj:</label>
    <span mask="00.000.000/0000-00"> {{dadosUsuario.cnpj }}</span>
  </div>
  <div>
    <label for="">Email:</label>
      <span> {{dadosUsuario.email}}</span>
  </div>
  <div>
    <label for="">Telefone:</label>
      <span> {{dadosUsuario.telefone }} </span>
  </div>
  <div>
    <label for="">Tipo de conta:</label>
      <span> Free </span>
  </div>
  <div>
    <label for="">Limite de produtos:</label>
      <span> Máximo 5 produtos </span>
  </div>
</div>

<div class="card empresa">
  <div class="header">
  <h4>Informações Aponta</h4>
  </div>
  <div>
 <label for="">Migração de Plano:</label>
   <span> Altere seu plano, saiba mais e aproveite as vantagens</span>
 </div>
 <div>
  <label for="">Plano start:</label>
    <span> limite produtos 10 </span>
  </div>
  <div>
    <label for="">Plano plus:</label>
      <span> limite produtos 15</span>
  </div>
  <div>
    <label for="">Plano super:</label>
      <span> limite produtos 30 </span>
  </div>
  <div>
    <label for="">plano max </label>
      <span> limite produtos 60 </span>
  </div>
  <div>
    <label for="">Saiba mais:</label>
      <span> clique aqui </span>
  </div>
</div>
</section>
<!-- Modal  cadastro de produto-->

<div class="modal fade bd-example-modal-lg" id="novoProduto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered bmodal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Inserir novo Produto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div>
        <label style="margin-left: 20px;">Adicione a imagem do Produto</label> <br>
        <input hidden #fileInput type="file" accept="image/*" (change)="prepareUploadPhoto($event)" id="imagem" >
        <button  class="btn btn-dark" (click)="fileInput.click()" >Adicionar Imagem</button>
        <span *ngIf="formProdutos" >A imagem {{imagem.name}} foi carregada</span>
      </div>
      <!-- deois coloco boolean -->
      <form [formGroup]="formProdutos" *ngIf="formProdutos">
      <div class="modal-body">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Categoria</label>
          <select class="form-control" formControlName="category">
            <option value="Computadores">Computadores</option>
            <option value="Celulares">Celulares</option>
            <option value="Games">Games</option>
            <option value="Cameras">Câmeras</option>
            <option value="Som">Som</option>
          </select>
        </div>
        <label for="">Título</label>
          <div class="form-group">
              <input type="text" class="form-control"  placeholder="Ex Notebook Lenovo Ideapad S145" formControlName="title">
              <small  class="form-text text-muted"></small>
          </div>
          <label for="desc">Descrição</label>
          <div class="form-group">
              <input type="text" class="form-control" id="desc"  placeholder="Ex Notebook Lenovo Ideapad S145, Intel Core i5-8265U 8GB, 1TB, Placa de Vídeo NVIDIA GeForce" formControlName="description">
              <small  class="form-text text-muted"></small>
          </div>
          <label for="preco">Preço</label>
          <div class="form-group">
              <input type="number" class="form-control" id="preco"  placeholder="Ex 3779.90" formControlName="price">
              <small  class="form-text text-muted"></small>
          </div>
          <div class="form-group">
            <small  class="form-text text-muted"></small>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelarCadastro()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="cadastrarProduto()" data-dismiss="modal">Cadastrar</button>
      </div>
    </form>
    </div>
  </div>
</div>
<!-- modal excluir produto -->
<div class="modal fade" id="excluirProduto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Tem certeza que deseja excluir o produto {{ nomeProduto }}?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <!-- <span aria-hidden="true">&times;</span> -->
        </button>
      </div>
      <!-- <div class="modal-body">
         <span></span>
      </div> -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="confirmar()" data-dismiss="modal">Sim</button>
      </div>
    </div>
  </div>
</div>
<!-- modal editar produto -->

<div class="modal fade bd-example-modal-lg" id="editarProduto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered bmodal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Editar Produto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="formProdutosEdit">
      <div class="modal-body">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Categoria</label>
          <select class="form-control" formControlName="category">
            <option value="Computadores">Computadores</option>
            <option value="Celulares">Celulares</option>
            <option value="Games">Games</option>
            <option value="Cameras">Câmeras</option>
            <option value="Som">Som</option>
          </select>
        </div>
        <label for="">Título</label>
          <div class="form-group">
              <input type="text" class="form-control"  formControlName="title">
              <small id="emailHelp" class="form-text text-muted"></small>
          </div>
          <label for="desc">Descrição</label>
          <div class="form-group">
              <input type="text" class="form-control" id="desc"  formControlName="description" >
              <small id="emailHelp" class="form-text text-muted"></small>
          </div>
          <label for="preco">Preço</label>
          <div class="form-group">
              <input type="number" class="form-control" id="preco"  formControlName="price">
              <small id="emailHelp" class="form-text text-muted"></small>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="atualizarProduto()" data-dismiss="modal" [disabled]="!formProdutosEdit.valid">Editar</button>
      </div>
    </form>
    </div>
  </div>
</div>
</div>