<nav class="navbar navbar-expand-md navbar-light navbar-transparente">
  <div class="container">
    
    <a href="index.html" class="navbar-brand">
      <img src="assets/logo.png" width="142">
    </a>

    <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-principal">
      <i class="fas fa-bars text-white"></i>
    </button>

    <div class="collapse navbar-collapse" id="nav-principal">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink="funciona" class="nav-link">Como Funciona</a>
        </li>
        <li class="nav-item">
          <a routerLink="cadastro" class="nav-link" >Inscrever-se</a>
        </li>
        <li class="nav-item divisor"></li>
        <li class="nav-item">
          <a routerLink="login" class="nav-link">Entrar</a>
        </li>
      </ul>
    </div>

  </div>
</nav>

